.view-course-img-wrapper .timestamp {
  opacity: 0;
  transition: 0.3s;
  background: #000000b3;
}
.buffering-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000008a;
}

.buffering-overlay .ant-spin-dot-item {
  background: #fff !important;
}
.view-course-img-wrapper:hover .timestamp {
  opacity: 1;
}
.view-course-headings-wrapper h2 {
  color: #000;
}

.view-course-result-heading-wrapper h3 {
  font-size: 30px;
  color: #000;
}
.view-course-result-list-wrapper li {
  /* font-family: "PoppinsRegular";
	color: #000; */
  font-size: 15px;
  list-style: none;
}
.view-course-result-list-wrapper ul {
  column-count: 2;
}
.courses-sidebar-detail-wrapper {
  background: #f5f5f5;
  padding: 20px 10px;
  border-radius: 9px;
}
.course-sidebar-card-wrapper .course-stats-wrapper ul li {
  font-size: 14px;
  list-style: none;
}
/* .course-sidebar-card-wrapper .course-stats-wrapper ul li span.property {
  font-family: "PoppinsRegular";
} */
.course-sidebar-card-wrapper .course-stats-wrapper ul li span.value {
  font-family: "PoppinsBold";
  margin-left: 10px;
}
.course-content-list-wrapper
  .course-list-left-wrapper
  .course-btns-wrapper
  span.GeneralButton
  button {
  width: 97px !important;
  margin: 0px auto;
  margin-right: 0px;
  font-size: 15px;
  height: 40px;
}
.course-play-button-wrapper p span {
  font-family: "PoppinsRegular";
  font-size: 14px;
}
.courses-sidebar-detail-wrapper .course-content-list-wrapper:not(:last-child) {
  border-bottom: 1px solid #7b7b7b;
}
.course-list-right-wrapper .course-heading-wrapper h5 {
  font-size: 15px;
  font-family: "PoppinsRegular";
  color: #14252a;
}
.courses-sidebar-detail-wrapper h4.level-4 {
  color: #000;
}
