/* Typorgraphy */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* Typography */
/* Font Variables */
:root {
  --primary-color: #ffe0db;
  --secondary-color: #2b2b2b;
  --dark-color: #222222;
  --light-color: #fff;

  --font-heading: "Unbounded", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Reset */
figure {
  margin-bottom: 0;
}

/* Base */
body {
  font-family: var(--font-body);
  color: #878787;
  background-color: #010102;
}

p,
a,
span,
li,
input,
textarea,
button {
  font-family: var(--font-body);
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #878787;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--dark-color);
}

h1 {
  font-size: 4.5rem;
  line-height: 5.1rem;
}
h2 {
  font-size: 50px;
  line-height: 58px;
}
h3 {
  font-size: 38px;
  line-height: 42px;
}
h4 {
  font-size: 22px;
  line-height: 28px;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
h6 {
  font-size: 15px;
  line-height: 20px;
}

/* Buttons */
.primaryBtn {
  background: var(--light-color);
  padding: 13px 25px;
  border-radius: 50px;
  text-decoration: none;
  color: var(--dark-color);
  font-family: var(--font-heading);
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.primaryBtn.dark-btn {
  background: #000;
  color: var(--light-color);
}

.primaryBtn span,
.primaryBtn svg {
  position: relative;
  z-index: 1;
}

.primaryBtn:before {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  border-radius: 50px;
  transition: 0.6s;
  transform: scale(1);
  z-index: 0;
}

.primaryBtn.dark-btn:before {
  background: #fff;
}

.primaryBtn:hover:before {
  left: 0;
  transform: scale(1.5);
}

.primaryBtn:hover {
  color: #fff;
}

.primaryBtn.dark-btn svg {
  fill: #fff;
}

.primaryBtn:hover svg {
  fill: #fff;
}

.primaryBtn.dark-btn:hover {
  color: #000;
}

.primaryBtn.dark-btn:hover svg {
  fill: #000;
}
