.subscription-sec {
  padding: 100px 0px;
}
.subscription-card-wrapper .pricing-wrapper {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.subscription-card-wrapper .pricing-title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
}

.subscription-card-wrapper .pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 22px;
}

.subscription-card-wrapper .pricing-card {
  background-image: url("../img/newsletter-bg.png");
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  padding: 25px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.25s ease;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.subscription-card-wrapper .pricing-card:hover {
  transform: translateY(-6px);
}

.subscription-card-wrapper .pricing-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.subscription-card-wrapper .price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
      color: #fff;
}

.subscription-card-wrapper .price span {
  font-size: 14px;
  color: #fff;
}

.subscription-card-wrapper .pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  color: #4b5563;
}

.subscription-card-wrapper .pricing-card ul li {
  margin-bottom: 10px;
  color: #fff;
}

.subscription-card-wrapper .btn-primary {
  background: #6366f1;
  color: white;
  padding: 10px 18px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.subscription-card-wrapper .btn-primary:hover {
  background: #4f46e5;
}

/* Featured Card */
.subscription-card-wrapper .featured {
  position: relative;
  border: 2px solid #6b00ff;
}

.subscription-card-wrapper .badge {
  position: absolute;
  top: -10px;
  right: 10px;
  background: #6b00ff;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
}
