.video-sec {
  padding: 0px 0px 60px 0px;
  margin-top: -30%;
}
.video-sec .video-row {
  display: flex;
  flex-wrap: wrap;
}
.video-sec .video-row .col-lg-4 {
  display: flex;
  flex-direction: column;
}
.videos-card-wrapper {
  /* border-right: 1px solid #4d4d4e;
  border-bottom: 1px solid #4d4d4e; */
  border: 1px solid #4d4d4e;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.videos-img-wrapper .center-img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lock-content-wrapper {
  position: absolute;
  top: 0%;
  padding: 20px;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
